lsi: false
safe: true
- name: Setup Yarn
  uses: mskelton/setup-yarn@v1.0.1
source: [your repo's top level directory]
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
